.service-rendered {
    padding-bottom: 8rem;



}

.service-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12rem;

    @media(max-width: 900px) {
        flex-direction: column;
        justify-content: unset;
        margin-bottom: unset;
        gap: 2rem;
    }


}

.description-text,
.description-gallery {
    flex-basis: 50rem;
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    @media(max-width: 900px) {
        flex-basis: unset;
        max-width: unset;
    }
}

.description-gallery {
    position: relative;

}

.bar-chart-positioner,
.pie-chart-positioner {
    position: absolute;
}

.bar-chart-positioner {

    right: 6rem;
    top: 22.2rem;

    @media(max-width: 480px) {
        left: 3rem;
        top: 15.2rem;
    }
}

.bar-chart {
    width: 25rem;
}

.pie-chart {
    width: 30rem;

    &>.chart-content {
        align-items: center;
    }
}

.pie-chart-positioner {

    top: 30.4rem;
    left: 4.8rem;
}

.pie-chart__category-list {
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    gap: 1.2rem;

    &>li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

.chart {
    background-color: #fff;
    box-shadow: 0 4px 32px 0 rgba(#000, 0.12);
    border-radius: 1.2rem;
    padding: 4rem;

    &-content,
    &-data {
        display: flex;
        flex-direction: column;
    }

    &-content {
        gap: 2rem;

        align-items: center;

        @media(max-width: 900px) {
            &>img {
                max-width: 15rem;
            }
        }

        @media(max-width: 768px) {
            &>img {
                max-width: 10rem;
            }
        }
    }

    &-data {
        gap: 0.5rem;
        font-family: "Manrope", sans-serif;

        &>.chart-percentage {
            font-size: 2.4rem;
            font-weight: 700;
        }

        &>.chart-text {
            font-size: 1.4rem;
        }
    }
}