@use "./colors" as color;

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;



  &-md {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media(max-width:900px) {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    @media(max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

.button {
  border: 2px solid transparent;
  outline: 0;
  text-wrap: nowrap;
  font-weight: 700;
  max-width: max-content;
  border-radius: 999px;
  font-size: 2rem;
  padding: 1.6rem 5.6rem;

  @media(max-width:600px) {
    font-weight: 500;
    padding: 1rem 4rem;
  }

  @media(max-width: 420px) {
    padding: .75rem 2rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  &-link {
    padding: 0.8rem 4rem;
    text-transform: capitalize;
    font-size: 1.6rem;

    &--white {
      background-color: #fff;
      transition: background-color 250ms ease-in;

      &:hover {
        background-color: color.$color-green;
      }
    }
  }

  &--green {
    background-color: color.$color-green;
    color: color.$dark-blue;
    transition: background-color, color 250ms ease-in;

    &:hover {
      background-color: #fff;
      color: darken(color.$color-green, 50);
    }
  }

  &--white-outline {
    border-color: #fff;
    border-width: 2px;
    color: #fff;

    transition: border-color, color 250ms ease-in;

    &:hover {
      border-color: color.$color-green;
      color: color.$color-green;
    }
  }

  &--darkBlue-bordered {
    border-color: color.$dark-blue;
    background-color: #fff;
    color: color.$dark-blue;
  }

  &--primary {
    background-color: color.$dark-blue;
    color: #fff;
  }
}

//aesthetics
.primary-white-card {
  background-color: #fff;
  box-shadow: 0 4px 32px 0 rgba(#000, 0.08);
  padding: 1.6rem;
  border-radius: 4px;
}

.primary-dark-card {
  background-color: color.$dark-blue;
  box-shadow: 0 4px 32px 0 rgba(#000, 0.08);
  padding: 1.6rem;
  color: #fff;
  border-radius: 4px;
}

.bg-dark-blue {
  background-color: color.$dark-blue;
}

.text-white {
  color: #fff;
}

//typography
.heading-1 {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;

  @media(max-width: 900px) {
    font-size: 3.8rem;
  }

  @media(max-width: 600px) {
    font-size: 3.8rem;
  }

  @media(max-width: 600px) {
    font-size: 3rem;
  }

  @media(max-width: 384px) {
    font-size: 2.5rem;
  }
}

.heading-2 {
  font-size: 3.6rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;

  @media(max-width: 900px) {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

.fz-md {
  font-size: 1.6rem;
}

.fw-600 {
  font-weight: 600;
}

.line-h-lg {
  line-height: 5.6rem;
}

.line-h-md {
  line-height: 2.4rem;
}

.text-ctr {
  text-align: center;
}

//layout

.hzt-stack {
  display: flex;
}

.vrt-stack {
  display: flex;
  flex-direction: column;
}

.algn-ctr {
  align-items: center;
}

.js-btw {
  justify-content: space-between;
}

.js-ctr {
  justify-content: center;
}

.p-tb-8 {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media(max-width: 900px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.image-block {
  display: flex;

  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.moon {
  width: 120rem;
  height: 120rem;
  border-radius: 50%;
  background-color: color.$light-blue;
  position: absolute;
  z-index: -1;
  top: -82rem;
  right: -75rem;
}