@use "../../../sass/colors" as color;



.button-block {
  display: flex;
}

.services-listing {
  margin-top: 4rem;
  margin-bottom: 5.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &>li {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-size: 2rem;

    &>svg {
      font-size: 3.6rem;
      color: color.$dark-blue;
    }
  }
}


//customer review
.customer-review {
  padding: 8rem 4rem;
}

.heading-block {
  max-width: 71.6rem;
}

//accordions

.accordion-block {
  display: flex;
  flex: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.6rem;

  &>div {
    flex-basis: 500px;
    max-width: 500px;
  }

  &>ul {
    flex: 500px;
    max-width: 500px;
  }
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.accordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 1rem;
  border-bottom: 1px solid color.$color-gray-2;

  &-content {
    transition: max-height 200ms ease-in;

    &.hide {
      max-height: 0;
      overflow: hidden;
    }

    &.show {
      max-height: 800px;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;

    &>button {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border: none;
      background-color: transparent;

      &>svg {
        font-size: 3.65rem;
        color: color.$dark-blue;
      }
    }
  }
}

.accordion-heading-text {
  font-size: 2rem;
}